.laboratory{
    display: flex;
    width: 100%;
    height: 100%;
    .top{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .editorTitle{
            width: 50%;
            display: flex;
        }
        .selectLang{
            outline: none;
            width: 50%;
            display: flex;
            width: 200px;
        
            padding: 5px;
            option{
                background-color: #ffffff;
                padding: 5px;
                // color: white;
            }
        }
    }
    .editor_section{
        display: flex;
        flex-direction: column;
        width: 50%;
        height: 100%;
        
    }

    .result{
        display: flex;
        flex-direction: column;
        width: 50%;
        height: 100%;
    
    }
}


.editor{
    padding-left:20px ;
    color: rgb(246, 246, 244); 
    background-color: rgb(40, 42, 54); 
    font-family: Consolas, "Courier New", monospace;
     font-size: 14px; 
    line-height: 19px; 
    white-space: pre;
    outline: none;
    &::-webkit-scrollbar {
        width:10px; 
      }
      /* Track */
    &::-webkit-scrollbar-track {
        background: #ced3ff; 
        // border-radius: var(--scrollRadius);
      }
        
      /* Handle */
    &::-webkit-scrollbar-thumb {
        background:#541db9; 
        border-radius: 0;
      }
      
      /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
          cursor: pointer;
        background: rgb(84, 127, 206); 
      }
    position: relative;
    overflow-y: auto;          
}
