.container{
    position: relative;
    display: flex;
    justify-content: space-around;
    opacity: 1;
    visibility: visible;
    transition: all .5s ease-in-out;
    width: calc(100%/4);
    height: 185px;
    padding: 5px;
    .courseBox{
        position: relative;        
        display: flex;
        width: 100%;
        height: 100%;
        border-radius: 5px;
        z-index: 0;

        overflow: hidden;
        background-color: rgba(0, 0, 0, 0);
       
        .see_course{
            $icon_size:20px;
            z-index: 1;
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            transition: background-color .2s ease-in-out;
            &:hover .info > .description{
                font-size: 3px;
                visibility: hidden ;
                opacity: 0;
                display: none;
            }

            .trash{
                display: flex;
                position: absolute;
                top: 35px;
                font-size: $icon_size;
                transition: all .7s ease-in-out;
                right: 5px;
                opacity: 0;
                color:  rgb(236, 70, 70);
                transform: translate(50px, 0px);
                &:hover{
                    transition: color .2s ease-in-out;
                    cursor: pointer;
                    color: antiquewhite;
                }
            }
            .info{
                transition: all .2s ease-in-out;
                height: 15%;
                width: 100%;
                padding: 3px;
                z-index: -4;
                font-size: 14px;
                background-color: #5940bbb4;
                justify-content: center;
                display: flex;
                flex-direction: column;
                position: absolute;
                left: 0px;
                color: white;
                font-weight: 600;
                bottom: 0px;
            }
            &:hover .info{
                justify-content: flex-start;
                height: 100%;
                font-size: 25px;
                color: rgb(238, 236, 236);
            }
            &:hover{
                cursor: pointer;
                // backgr*+ound-color:  #0000007a;
                background-color: #19103db4;
            }
            &:hover .favourite, &:hover .trash{
                transform: translate(0, 0);
                opacity: 1;
            }
           
            .favourite{
                position: absolute;
                transition: all .2s ease-in-out;
                display: flex;
                opacity: 0;
                font-size: $icon_size;
                transform: translate(0, -50px);
                top: 5px;
                right: 5px;
                i{
                    transition: all .2s ease-in-out;
                    color: rgb(224, 224, 224);
                    opacity: .8;
                    &:hover{
                        opacity: 1;
                        color: rgb(255, 255, 255);
                    }
                    // color: black;
                    // font-weight: 400;
                }
            }
            &:hover  .btn{
                opacity: 1;
                // border: 1px solid white;
            }
            .btn{
                position: relative;
                transition: all .3s ease-in-out;
                opacity: 0;
                border-radius: 5px;
                padding: 5px 20px;
                color: white;
                font-size: 17px;
                font-weight: 700;
                border: 1px solid white;
                text-decoration: none;
                display: flex;
                &::after{
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 0%;
                    height: 100%;
                    background-color: rgba(255, 255, 255, 0.829);
                    z-index: -1;
                    transition: width .8s ease-in-out;
                }
                &::before{
                    content: '';
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 0%;
                    height: 100%;
                    background-color: rgba(16, 143, 202, 0.726);
                    z-index: -1;
                    transition: width .5s ease-in-out;
                }
                &:hover::after{
                    width: 100%;
                }
                &:hover::before{
                    width: 100%;
                }
                &:hover{
                    animation: btn-hover 1s ease-in-out ;
                    color: #5840BB;
                }
            }
        }
        .see_course:hover + .bg{
            top: -20%;
            left: -20%;
            width: 140%;
            height: 140%;
        }
        .bg{
            transition: all .1s ease-in-out;
            user-select: none;
            z-index: -1;
            display: flex;
            position:absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
}