.sidebar_container{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    padding: 10px;
    // border:  1px solid red;
    // background-color: aliceblue;
    // border-radius: 0px 20px 20px 0px;
    z-index: 3;
    
    .avatar{
        margin-top: -10px;
        position: relative;
        display: flex;
        width: 90%;
        justify-content: center;
        // border: .2px solid white;
        overflow: hidden;
        border-radius: 10px;
        .logo{
            display: flex;
            width: 100%;
            height: 100%;      
        }
    }

    .divider{
        $color:#7b5cf5;
        display: flex;
        width: 100%;
        margin: 10px 0px;
        background: $color;
        opacity: 0.6;
        border:1.5px solid $color;
        border-radius: 30px;
    }

    .user_avatar{
        $size:100px;
        width: $size;
        height: $size;
        display: flex;
        overflow: hidden;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        .user_img{
            // width: 100%;
            height: 100%;
        }
    }
    .nav_links{
        margin-left: auto;
        // margin-right: -10px;
        width: 100%;
        display: flex;
        margin-top: 20px;
        // outline: 1px solid rebeccapurple;
        .nav{
            // margin-left:;
            width: 100%;
            display: flex;
            flex-direction: column;
            list-style: none;
            // outline: 1px solid red;
            
            
        }

    }
}