// .topbar{
    // outline:.4px solid rgb(201, 201, 201);
    // width: 100%;
    // height: 40px;
    .top{
        width: 100%;
        height: 35px;
        display: flex;    
        align-items: center;
        justify-content: space-between;
        margin-bottom: 5px;
        $inputPaddingLeft:50px;
        .goBack{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            transition: all .2s ease-in-out;
            height: 39px;
            border-radius: 50%;
            color: rgb(19, 51, 156);
            margin-right: 10px;
        //    text-shadow: 0px 0px 10px blue;
            &:hover{
                text-shadow: 0px 0px 20px blue;
                box-shadow:inset .1px .1px 4px rgb(71, 71, 238), .1px .1px 4px rgb(121, 121, 240);
                cursor: pointer;
                background-color: rgb(255, 255, 255);
                color: rgb(0, 0, 255);

            }
        }
        .search{
            position: relative;
            width: 100%;
            height: 100%;
            
            input{
                width: 50%;
                height: 100%;
                outline: none;
                border: none;
                border-radius: 10px;
                padding-left: $inputPaddingLeft;
               background-color: #F3F6FF;
            }
            input::placeholder{
                color: #CCD6E8;
            }
            svg{

                position: absolute;
                top: 50%;
                transform: translate(-50%,-50%);
                left: $inputPaddingLeft/2;
                
            }
        }
        .bell{
            position: relative;
            display: flex;
            // background-color: black;
            width: 35px;
            height: 35px;
            svg{
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                top: 50%;
                width:100%;
                height: 100%;
                border-radius: 50%;
                transform: translate(0%,-50%);
                transition: all .3s ease-in-out;
                path{
                    transition: all .1s ease-in-out;
                }
                padding: 5px;
                &:hover{
                    background-color: #f7f7f8;
                }
            }
            &:hover{
                cursor: pointer;                
            }
        }
    }
    
// }