.nav_item{
    .nav_link{
        
        $timing:.3s ease-in-out;
        display:flex ;
        align-items: center;
        position: relative;
        padding: 10px;
        border-radius: 0px ;
        text-decoration: none;
        color: white;
        font-weight: 500;
        border-left: 0px solid blue;
        transition: all .2s ease-in-out;
        &:hover{
            background-color: rgb(112, 109, 253);
            // color: rgb(76, 84, 85);
        }
        i{
            display: flex;
            margin-right: 5px;
            margin-top: 5px;
        }

        &.active{
            border-left: 4px solid blue;
            transition: all .5s ease-in-out;
            // color: #5840BB;
            background-color: rgb(128, 126, 255);
        }
        
    }
}