@font-face {
    font-family:'Inter-SemiBold';
    src: url(./assets/fonts/Inter/static/Inter-SemiBold.ttf) format('truetype');
  };
body{
    background-color:#5840BB;
     
    font-family: Inter-SemiBold, Arial, Helvetica, sans-serif;
}

:root{
  --scrollRadius:10px;
  --widthScroll:10px;
}
::-webkit-scrollbar {
  width:var(--widthScroll); 
}
/* Track */
::-webkit-scrollbar-track {
  background: #ced3ff; 
  border-radius: var(--scrollRadius);
}
  
/* Handle */
::-webkit-scrollbar-thumb {
  background:#541db9; 
  border-radius:var(--scrollRadius);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
  background: rgb(84, 127, 206); 
}